body {
  background-color: #f4eee8;
  padding: 20px 30px;
}

h1,
p,
a {
  text-align: center;
  color: #325288;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
  margin: 30px auto 30px;
}
footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: #114e60;
}
